In [12]:
import pandas as pd
from scipy import stats

In [3]:
main_table = pd.read_csv('data/main_table.csv')

In [4]:
main_table

,Unnamed: 0,country,class_e_players,class_d_players,class_c_players,class_b_players,class_a_players,candidate_masters,national_masters,fide_masters,...,edu_rank,player_no_rank,index,pop,imfGDP,gdpPerCapita,players_by_capita,pbc_rank,high_rank_players,hr_rank
0,0,India,14308,11182.0,5627.0,2963.0,1685.0,1075.0,204.0,118.0,...,101,2.0,8.0,1428627.663,3.893670e+12,2725.461715,0.025976,108.0,1507.0,12.0
1,1,Russia,6000,6037.0,5530.0,5859.0,6077.0,5835.0,1916.0,1116.0,...,19,1.0,26.0,144444.359,1.713154e+12,11860.303939,0.267577,38.0,9348.0,1.0
2,2,France,4381,5867.0,6131.0,5184.0,3752.0,2126.0,391.0,158.0,...,9,5.0,12.0,64756.584,3.086226e+12,47658.875891,0.431091,23.0,2755.0,4.0
3,3,Iran,3146,3237.0,2887.0,1973.0,1023.0,426.0,78.0,35.0,...,81,6.0,24.0,89172.767,1.782602e+12,19990.430486,0.143194,58.0,564.0,27.0
4,4,Spain,2881,5067.0,6634.0,6414.0,4981.0,2656.0,489.0,197.0,...,17,3.0,28.0,47519.628,1.519090e+12,31967.632407,0.616293,14.0,3452.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,156,Liberia,1,5.0,14.0,24.0,9.0,NaN,NaN,NaN,...,150,138.0,306.0,5418.377,4.064000e+09,750.040095,0.009597,129.0,NaN,NaN
157,157,Papua New Guinea,1,NaN,NaN,NaN,4.0,1.0,1.0,NaN,...,123,159.5,198.0,10329.931,3.233400e+10,3130.127394,0.000968,153.0,NaN,NaN
158,158,Mauritania,1,9.0,35.0,27.0,18.0,3.0,NaN,NaN,...,139,129.0,282.0,4862.989,9.705000e+09,1995.686192,0.019124,117.0,NaN,NaN
159,159,Seychelles,1,5.0,1.0,5.0,1.0,6.0,1.0,NaN,...,51,153.0,334.0,107.660,1.804000e+09,16756.455508,0.176482,51.0,NaN,NaN
160,160,Mali,1,NaN,2.0,3.0,6.0,3.0,NaN,NaN,...,155,158.0,232.0,23293.698,2.119100e+10,909.731035,0.000644,155.0,NaN,NaN

In [5]:
def nulls_to_zeros(value):
    if pd.isna(value):
        return 0
    else:
        return value

In [6]:
for index, row in main_table.iterrows():
    main_table.loc[index, 'class_d_players'] = nulls_to_zeros(row.class_d_players)
    main_table.loc[index, 'class_c_players'] = nulls_to_zeros(row.class_c_players)
    main_table.loc[index, 'class_b_players'] = nulls_to_zeros(row.class_b_players)
    main_table.loc[index, 'class_a_players'] = nulls_to_zeros(row.class_a_players)
    main_table.loc[index, 'candidate_masters'] = nulls_to_zeros(row.candidate_masters)
    main_table.loc[index, 'national_masters'] = nulls_to_zeros(row.national_masters)
    main_table.loc[index, 'fide_masters'] = nulls_to_zeros(row.fide_masters)
    main_table.loc[index, 'international_masters'] = nulls_to_zeros(row.international_masters)
    main_table.loc[index, 'grandmasters'] = nulls_to_zeros(row.grandmasters)

In [7]:
main_table['tru_hr_players'] = main_table['candidate_masters'] + main_table['national_masters'] +  main_table['international_masters'] + main_table['fide_masters'] + main_table['grandmasters']

In [8]:
main_table['tru_hr_rank'] = main_table['tru_hr_players'].rank(ascending=False)

In [9]:
main_table.to_csv('data/upd_main_table.csv')

In [11]:
main_table['pop'].corr(main_table['tru_hr_players'])

0.1486754054183194

In [14]:
stats.spearmanr(main_table['player_no_rank'], main_table['tru_hr_rank'], nan_policy='omit')

SpearmanrResult(correlation=0.9316527981456052, pvalue=8.366712447707515e-72)

In [16]:
main_table['all_players'].corr(main_table['tru_hr_players'])

0.8310543946560156

In [17]:
main_table['edu_rank'].corr(main_table['pop'])

-0.060293251279232844

AttributeError: 'DataFrame' object has no attribute 'unique'